* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

main {
  background: hsla(0, 0%, 40%, 1);
  height: 100%;
}

h1, h2 {
  margin: 0;
}

.max-width-wrapper {
  margin-inline-start: auto;
  margin-inline-end: auto;
  max-width: 800px;
}

p {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

header {
  border-bottom: 8px solid hsla(0, 0%, 60%, 1);
}

.intro-chunk {
  max-width: 416px;
  padding-top: 96px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 48px;
}

.title {
  font-size: 2rem;
  margin-bottom: 3rem;
}

.intro-chunk strong {
  color: hsl(160deg, 100%, 30%);
}

main section {
  padding-top: 64px;
}

.card {
  background: hsla(0, 0%, 100%);
  border-bottom: 8px solid hsla(0, 0%, 60%, 1);
  padding: 8px 24px;
}

.indented-heading {
  font-size: 1.50rem;
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
  width: fit-content;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 24px;
  padding-left: 32px;
  margin-inline-start: -32px;
}
